<header class="comments-header">
  <h1>Comments</h1>
</header>

<% if @current_user %>
<div class="form-new-comment">
  <form id="new-comment" method="post" action="/promises/<%= @promise.id %>/comment/new" data-promise="<%= @promise.id %>">
    <textarea id="comment-body" name="body" rows="2" placeholder="Add a comment.."></textarea>
    <input id="create-comment" type="submit" value="Add Comment">
  </form>
</div>
<% else %>
  <p><a href="/login">Login</a> to post a comment</p>
<% end %>

<% @promise.ordered_comments.each do |comment| %>
  <div id="new-comment">
  </div>
  <div class="comment">
    <div class="comment-image">
      <img src="<%= comment.author.gravatar %>" alt="Logo image">
    </div>
    <div class="comment-content">
      <a href='/users/<%= comment.author.id %>'<h1><%= comment.author.name %></h1></a>
      <p><%= comment.body %></p>
      <p class="comment-detail">Posted on: <%= comment.created_at %></p>
    </div>
  </div>
<% end %>