<header class="page-header navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="float-left">
      <a href="/" class="logo">
        <img src="http://placehold.it/50x50" alt="Logo Image">
      </a>
      <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link <%= 'active-nav-item' if active_page == '/promises' %>"><a href="/promises">Promises</a></li>
          <li class="nav-link <%= 'active-nav-item' if active_page == '/users' %>"><a href="/users">Users</a></li>
          <% if @current_user %>
            <li class="nav-link <%= 'active-nav-item' if active_page == '/promises/new' %>"><a href="/promises/new">Create a Promise</a></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="float-right">
      <% if @current_user %>
      <a href="/" class="profile-pic">
        <img src="<%= @current_user.gravatar %>" alt="Logo Image">
      </a>
      <% end %>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <% if @current_user %>
            <li class="nav-link <%= 'active-nav-item' if active_page == '/profile' %>"><a href="/profile">Hello, <%= @current_user.name %></a></li>
            <li class="nav-link"><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
          <% else %>
            <li class="nav-link <%= 'active-nav-item' if active_page == '/signup' %>">
              <a href="/signup"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>Sign-up</a>
            </li>
            <li class="nav-link">
              
                      <div class="modal modal-login">
                        <label for="modal-login">
                          <div class="modal-trigger"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login</div>
                        </label>
                        <input class="modal-state" id="modal-login" type="checkbox" />
                        <div class="modal-fade-screen">
                          <div class="modal-inner">
                            <div class="modal-close" for="modal-login"></div>
                            <h1>Login</h1>
                            <div class="form-wrapper">
                              <%= erb :'partials/flash_message_error' %>
                              <form action="/login" method="POST">
                                <label class='sr-only' for="email">Email</label>
                                <input type="email" id='email' name='email' placeholder='Email Address'>

                                <label class='sr-only' for="password">Password</label>
                                <input type="password" id='password' name='password' placeholder='Password'>

                                <input type="submit" value='submit'>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

              <!-- <a href="/"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> login</a> -->
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <!--<div class="navigation-tools">
      <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div>
    </div>-->
  </div>
</header>