<li class="tab-header-and-content">
  <a href="javascript:void(0)" class="tab-link">Followers</a>
  <div class="tab-content">

    <section class="article-body users-list-small">

      <% if @user.followers.empty? %> <!-- USER HAS NO FOLLOWERS -->
        <div class="user-no-followers">
          <p>You don't have any followers! </p>
        </div>
      <% else %> <!-- SHOW FOLLOWERS -->

        <% @user.followers.each do |friend| %>
          <div class="user-profile">
            <a href="/users/<%= friend.id %>"><img src="<%= friend.gravatar %>" class="profile-image-med"></a>
            <div class="user-name"><%= friend.name %></div>
            <p>
              <%= friend.promises_kept.count %> promises kept<br>
              <%= friend.promises_broken.count %> promises broken!<br>
              <strong><%= friend.points %> "points"</strong>
            </p>
            <div class="user-rating user-rating-<%= friend.label %>"><%= friend.label %></div>
          </div>                  
        <% end %>
      <% end %>

    </section>

  </div>
</li>