<% @user.bets_lost.each do |bet| %>

  <div class="promise-profile">
    <div class="promise-content-profile">
      <% if bet.in_favour %>
        <h1><%= @pronoun %> bet <%= bet.bet_value %>pts that <%= bet.user_name %> will keep their promise to <%= bet.promise_content %></h1>
      <% else %>
        <h1><%= @pronoun %> bet <%= bet.bet_value %>pts that <%= bet.user_name %> will break their promise to <%= bet.promise_content %></h1>
      <% end %>
      <p><a href='/promises'>View Promise</a></p>
    </div>
  </div>
  
<% end %>