 <section class="page-body">

    <article class="container page-article">
      
      <header class="article-header">
        <h1>Users</h1>
      </header>

      <section class="article-body users-list">

        <% @users.each do |user| %>
          <div class="user-profile">
            <a href="/users/<%= user.id %>"><img src="<%= user.gravatar %>" class="profile-image-med"></a>
            <div class="user-name"><%= user.name %></div>
            <p>
              <%= user.promises_kept.count %> promises kept<br>
              <%= user.promises_broken.count %> promises broken!<br>
              <strong><%= user.points %> "points"</strong>
            </p>
            <div class="user-rating user-rating-danger"><%= user.label %></div>
          </div>                  
        <% end %>

      </section>

      <footer class="article-footer">
        
      </footer>

    </article>
  </section>