<section class="page-body">
  
  <article class="container page-article">

    <header class="article-header profile-header">
      <div class="profile-details">
        <h1><%= @current_user.name %></h1>
        <h2>Active since <%= @current_user.created_at.to_date %></h2>
        <p>Overall Score: <%= @current_user.promises_kept - @current_user.promises_broken %></p>
<!--         Points: 50</p>  -->
      </div>

      <div class="container">
        <div class="profile-score profile-score-up">
          <%= @current_user.promises_kept %>
        </div>

        <div class="profile-image-container">
          <img src="http://placehold.it/400x400" class='profile-image profile-image-large'>  
        </div>

        <div class="profile-score profile-score-down">
          <%= @current_user.promises_broken %>
        </div>
      </div>

        <div class="profile-history">
          
        </div>
      </div>
      
    </header>

    <section class="article-footer">

      <h2>Your Activity</h2>

      <ul class="accordion-tabs">

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="is-active tab-link">
            Your Promises
          </a>

          <div class="tab-content">
            <% if @current_user.promises.empty? %>
              <p>You haven't made any promises yet! </p>
              <p><a href="/promises/new">Make a promise! </a></p>
            <% else %>
              <% @current_user.promises.each do |promise| %>
                <div class="promise">
                  <div class="promise-image">
                    <img src="http://placehold.it/400x400" alt="Logo image">
                  </div>
                  <div class="promise-content">
                    <h1>You promised...</h1>
                    <p><%= promise.content %></p>
                    <p class="promise-detail">Expires in  <%= promise.hours_until_expired %> hours!</p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </li>

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="tab-link">
            Your Bets
          </a>

          <div class="tab-content">
            <% if @current_user.bets.empty? %>
              <p>You haven't made any bets yet! </p>
              <p><a href="/promises">Make a bet! </a></p>
            <% else %>
              <% @current_user.bets.each do |bet| %>
                <div class="promise">
                  <div class="promise-image">
                    <img src="http://placehold.it/400x400" alt="Logo image">
                  </div>
                  <div class="promise-content">
                    <a href='details/index.html'<h1><%= bet.user_name %> has promised...</h1></a>
                    <p><%= bet.promise_content %></p>
                    <% if bet.in_favour %>
                      <p class="promise-detail">You bet <%= bet.bet_value %> that <%= bet.user_name %> would keep their promise! </p>
                    <% else %>
                      <p class="promise-detail">You bet <%= bet.bet_value %> that <%= bet.user_name %> would screw-up!</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </li>
        <!-- <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">What people are saying</a>
          <div class="tab-content">
            <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">What you're saying</a>
          <div class="tab-content">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
          </div>
        </li> -->
      </ul>
    
    </section>

  </article>

</section>