<section class="page-body">
  
  <article class="container page-article">

    <header class="article-header profile-header">
      <div class="profile-details">
        <h1><%= @user.name %></h1>
        <h2>Active since <%= @user.created_at.to_date %></h2>
        <%= erb :'partials/flash_message_error' %>
        <% unless @current_user == @user %>
          <% if @current_user.friends.include?(@user) %>
            <p>Your friend since <%= friend_since(@user, @current_user) %></p>
          <% elsif @current_user != @user %>
            <form method="post" action="/users/friends/new/<%= @user.id %>">
              <input type="submit" value="Add Friend">
            </form>
          <% end %>
        <% end %>

      <p>Points: <%= @user.points %></p>
      </div>

      <div class="container">
        <div class="profile-score profile-score-up">
          <%= @user.promises_kept %>
        </div>

        <div class="profile-image-container">
          <img src="<%= @user.gravatar %>" class='profile-image profile-image-large'>  
        </div>

        <div class="profile-score profile-score-down">
          <%= @user.promises_broken %>
        </div>
      </div>

        <div class="profile-history">
          
        </div>
      </div>
      
    </header>

    <section class="article-body">

      <h2>
        <% if @user == @current_user %>
          Your Activity
        <% else %>
          <%= @user.name %>'s Activity
        <% end %>
      </h2>

      <ul class="accordion-tabs">

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="is-active tab-link">
            Promises
          </a>

          <div class="tab-content">

            <% if @user.promises.empty? %> <!-- NO PROMISES -->

              <p>You haven't made any promises yet! </p>
              <p><a href="/promises/new">Make a promise! </a></p>

            <% else %> <!-- SHOW PROMISES -->

              <% @user.promises.each do |promise| %>

                <% @promise = promise %> <!-- For use in partials -->

                <div class="promise">

                  <!-- Promise Details -->
                  <div class="promise-image">
                    <img src="http://placehold.it/400x400" alt="Logo image">
                  </div>
                  <div class="promise-content">
                    <h1>You promised to..</h1>
                    <a href='promises/<%= promise.id %>'><p><%= promise.content %></p></a>
                    <p class="promise-detail"><%= promise.hours_until_expired %></p>
                  </div>

                  <!-- Promise Status -->
                  <% if promise.expired? || !promise.validated.nil? %>
                    <%= erb :'/partials/validated_promise_result' %>
                  <% else %>
                    <%= erb :'/partials/validate_your_promise_modal' %>
                  <% end %>
                  
                </div>

              <% end %> <!-- end each loop -->

            <% end %> <!-- end if/else statement checking for promises -->

          </div>

        </li>

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="tab-link">
            Bets
          </a>

          <div class="tab-content">

            <% if @user.bets.empty? %> <!-- NO BETS -->

              <p>You haven't made any bets yet! </p>
              <p><a href="/promises">Make a bet! </a></p>

            <% else %> <!-- SHOW BETS -->

              <% @user.ordered_bets.each do |bet| %>

                <div class="promise">
                  <div class="promise-content">
                    <% if bet.in_favour %>
                      <h1>You bet <%= bet.bet_value %>pts that <%= bet.user_name %> will keep their promise to <%= bet.promise_content %></h1>
                    <% else %>
                      <h1>You bet <%= bet.bet_value %>pts that <%= bet.user_name %> will break their promise to <%= bet.promise_content %></h1>
                    <% end %>
                    <p><a href='details/index.html'>View Promise</a></p>
                    <p class="promise-detail"><%= bet.promise.hours_until_expired %>
                    <% if bet.promise.expired? %>
                      <%= bet.won? ? 'You won the bet!' : 'You lost the bet..' %> </p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </li>
        <!-- <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">What people are saying</a>
          <div class="tab-content">
            <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi. Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus, quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>    
          </div>
        </li>
        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">What you're saying</a>
          <div class="tab-content">
            <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus dui urna.</p>
          </div>
        </li> -->
      </ul>
    
    </section>

  </article>

</section>