<section class="page-body">
  
  <article class="container page-article">

    <header class="article-header profile-header">
      <div class="profile-details">
        <h1><%= @user.name %></h1>
        <h2>Active since <%= @user.created_at.to_date %></h2>
        <p>Points: <%= @user.points %></p>
        <%= erb :'partials/flash_message_error' %>
        <% unless @current_user == @user %>
          <% if @current_user.friends.include?(@user) %>
            <p>Following since <%= friend_since(@user, @current_user) %></p>
          <% elsif @current_user != @user %>
            <form method="post" action="/users/friends/new/<%= @user.id %>">
              <input type="submit" value="Follow">
            </form>
          <% end %>
        <% end %>

      
      </div>

      <div class="section user-notifications">
        <% @user.notifications.each do |note| %>
          <div class="flash flash-notice">
            <%= note.text %><a href='#' class="remove-flash" data-id="<%= note.id %>"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        <% end %>          
      </div>

      <div class="container">
        <div class="profile-score profile-score-up">
          <%= @user.promises_kept.count %>
        </div>

        <div class="profile-image-container">
          <img src="<%= @user.gravatar %>" class='profile-image profile-image-large'>  
        </div>

        <div class="profile-score profile-score-down">
          <%= @user.promises_broken.count %>
        </div>
      </div>

        <div class="profile-history">
          
        </div>
      </div>
      
    </header>

    <section class="article-body">

      <h2>
        <% if @user == @current_user %>
          Your Activity
        <% else %>
          <%= @user.name %>'s Activity
        <% end %>
      </h2>

      <% @user == @current_user ? @pronoun = 'You' : @pronoun = @user.first_name.capitalize %>

      <ul class="accordion-tabs">
        <%= erb :'/partials/profile_promises_tab' %>
        <%= erb :'/partials/profile_bets_tab' %>
        <% if @user == @current_user %>
          <%= erb :'/partials/profile_following_tab' %>
          <%= erb :'/partials/profile_followers_tab' %>
        <% end %>
      </ul>
    
    </section>

  </article>

</section>