<section class="page-body">
  
  <article class="container page-article">

    <header class="article-header profile-header">
      <div class="profile-details">
        <h1><%= @user.name %></h1>
        <h2>Active since <%= @user.created_at.to_date %></h2>
        <%= erb :'partials/flash_message_error' %>
        <% unless @current_user == @user %>
          <% if @current_user.friends.include?(@user) %>
            <p>Your friend since <%= friend_since(@user, @current_user) %></p>
          <% elsif @current_user != @user %>
            <form method="post" action="/users/friends/new/<%= @user.id %>">
              <input type="submit" value="Add Friend">
            </form>
          <% end %>
        <% end %>

      <p>Points: <%= @user.points %></p>
      </div>

      <div class="container">
        <div class="profile-score profile-score-up">
          <%= @user.promises_kept.count %>
        </div>

        <div class="profile-image-container">
          <img src="<%= @user.gravatar %>" class='profile-image profile-image-large'>  
        </div>

        <div class="profile-score profile-score-down">
          <%= @user.promises_broken.count %>
        </div>
      </div>

        <div class="profile-history">
          
        </div>
      </div>
      
    </header>

    <section class="article-body">

      <h2>
        <% if @user == @current_user %>
          Your Activity
        <% else %>
          <%= @user.name %>'s Activity
        <% end %>
      </h2>

      <ul class="accordion-tabs">

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="is-active tab-link">
            Active Promises
          </a>

          <div class="tab-content">

            <% if @user.promises_active.empty? %> <!-- NO ACTIVE PROMISES -->
              <p>You have no active promises! </p>
              <p><a href="/promises/new">Make a promise! </a></p>
            <% else %> <!-- SHOW ACTIVE PROMISES -->
              <%= erb :'/partials/user_profile_active_promises' %>
            <% end %>

          </div>

        </li>

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="tab-link">
            Promises Kept
          </a>

          <div class="tab-content">

            <% if @user.promises_kept.empty? %> <!-- NO KEPT PROMISES -->
              <p>No kept promises..</p>
              <p><a href="/promises/new">Make a promise! </a></p>
            <% else %> <!-- SHOW KEPT PROMISES -->
              <%= erb :'/partials/user_profile_kept_promises' %>
            <% end %>

          </div>

        </li>

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="tab-link">
            Promises Broken
          </a>

          <div class="tab-content">

            <% if @user.promises_broken.empty? %> <!-- NO BROKEN PROMISES -->
              <p>No broken promises!</p>
              <p><a href="/promises/new">Make a promise! </a></p>
            <% else %> <!-- SHOW BROKEN PROMISES -->
              <%= erb :'/partials/user_profile_broken_promises' %>
            <% end %> 

          </div>

        </li>

        <li class="tab-header-and-content">

          <a href="javascript:void(0)" class="tab-link">
            Active Bets
          </a>

          <div class="tab-content">

            <% if @user.bets_active.empty? %> <!-- NO ACTIVE BETS -->
              <p>You haven't made any bets yet! </p>
              <p><a href="/promises">Make a bet! </a></p>
            <% else %> <!-- SHOW ACTIVE BETS -->
              <%= erb :'/partials/user_profile_active_bets' %>
            <% end %>

          </div>
        </li>

        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">Bets Won</a>
          <div class="tab-content">

            <% if @user.bets_won.empty? %> <!-- NO BETS WON -->
              <p>You haven't won any bets yet.. </p>
              <p><a href="/promises">Make a bet! </a></p>
            <% else %> <!-- SHOW BETS WON -->
              <%= erb :'/partials/user_profile_bets_won' %>   
            <% end %>

          </div>
        </li>

        <li class="tab-header-and-content">
          <a href="javascript:void(0)" class="tab-link">Bets Lost</a>
          <div class="tab-content">

          <% if @user.bets_lost.empty? %> <!-- NO BETS LOST -->
            <p>You haven't lost any bets!</p>
            <p><a href="/promises">Make a bet!</a></p>
          <% else %> <!-- SHOW BETS LOST -->
            <%= erb :'/partials/user_profile_bets_lost' %>
          <% end %>

          </div>
        </li>
      </ul>
    
    </section>

  </article>

</section>