<section class="article-body">      
  <% @promises.each do |promise| %>
    <div class="promise">
      <div class="promise-image">
        <img src="http://placehold.it/400x400" alt="Logo image">
      </div>
      <div class="promise-content">
        <a href="/promises/<%= promise.id %>"><h1><%= User.find(promise.user_id).name %> has promised...</h1></a>
        <p><%= promise.content %></p>
        <p class="promise-detail">Expires in <%= ((promise.expires_at.to_time - DateTime.now) / 1.hours).ceil %> hours!</p>
      </div>
      <div class="promise-controls">
        <a class="button" href='#'>Quick Wager</a>
        <a class="button" href='/promises/<%= promise.id %>'>View Promise Details</a>
      </div>
    </div>
  <% end %>
</section>

 <footer class="article-footer">
  <div class="pagination">
    <ul>
      <% if @page_number > 1 %>
        <li class="page-prev"><a href="/promises?page=<%= @page_number - 1 %>">Prev</a></li>
      <% end %>
      <li>
        <ul>
          <% 1.upto(@promises.total_pages) do |page_number| %>
            <li><a href="/promises?page=<%= page_number %>"><%= page_number %></a></li>
          <% end %>
        </ul>
      </li>
      <% if @page_number < @promises.total_pages %>
        <li class="page-next"><a href="/promises?page=<%= @page_number + 1 %>">Next</a></li>
      <% end %>
    </ul>
  </div>
</footer>