<section class="page-body">
    
  <article class="container page-article">

    <header class="article-header">
      <h1>All Promises</h1>
      <%= erb :'partials/search_tools' %>
    </header>

    <section class="article-body">
      <div class="cards">
        <% @promises.each do |promise| %>
          <div class="card">
            <div class="card-image">
              <img src="http://placehold.it/400x400" alt="Logo image">
            </div>
            <div class="card-header">
              <a href='promises/<%= promise.id %>'><h1><%= promise.user.name %> has promised...</h1></a>
            </div>
            <div class="card-copy">
              <p><%= promise.content %></p>
              <p class="promise-detail">Expires in  <%= promise.hours_until_expired %> hours!</p>
              <a class="button button-default card-button" href='#'>Quick Wager</a><br><br>
              <a class="button button-default card-button" href='promises/<%= promise.id %>'>Details</a>
            </div>
          </div>
        <% end %>
      </div>

    </section>

    <%= erb :'partials/pagination' %>

  </article>

</section>