<section class="page-body">
    
  <article class="container page-article">

    <header class="article-header">
      <h1>All Promises</h1>
      <%= erb :'partials/search_tools' %>
    </header>

    <section class="article-body">

      <% @promises.each do |promise| %>
        <div class="promise">
          <div class="profile-image profile-image-small">
            <img src="http://placehold.it/400x400" alt="Logo image">
          </div>
          <div class="promise-content">
            <a href='promises/<%= promise.id %>'><h1><%= User.find(promise.user_id).name %> has promised...</h1></a>
            <p><%= promise.content %></p>
            <p class="promise-detail">Expires in  <%= promise.hours_until_expired %> hours!</p>
          </div>
          <div class="promise-controls">
            <a class="button button-default" href='#'>Quick Wager</a>
            <a class="button button-default" href='promises/<%= promise.id %>'>Details</a>
          </div>
        </div>
      <% end %>

    </section>

    <%= erb :'partials/pagination' %>

  </article>

</section>