<section class="page-body">
    
  <article class="container page-article">

    <header class="article-header">
      <h1>All Promises</h1>
    </header>

    <section class="article-body">
      <div id="expired-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-expired-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-expired-promises">: Toggle expired promises</label>
        </div>
      </div>
      <div id="friend-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-friends-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-friends-promises">: Toggle friends promises</label>
        </div>
      </div>
      <div id="your-promises">
        <label class="label-switch">
          <input type="checkbox" id="toggle-your-promises" />
          <div class="checkbox"></div>
        </label>
        <div id="switch-label">
          <label for="toggle-your-promises">: Toggle your promises</label>
        </div>
      </div>
      <hr>
      <div class="cards">
        <% @promises.each do |promise| %>

          <div class="<% if promise.hours_until_expired == "Expired!" %>card-expired<% end %> card">
            <div class="card-header promise-card-header">
              <img src="<%= promise.user.gravatar %>" class="profile-image profile-image-small">
                <a href='promises/<%= promise.id %>'><%= promise.user.name %> promised:</a>
              <%= promise.content %>
            </div>

            <div class="card-copy">
              <p class="promise-detail"><%= promise.hours_until_expired %></p>
              
              <% @promise = promise %> <!-- For accessing promise in partials -->
              
              <% if @current_user %> <!-- LOGGED IN -->

                <% if promise.expired? || !promise.validated.nil? %> <!-- PROMISE EXPIRED OR VALIDATED -->
                  <%= erb :'/partials/validated_promise_result' %> 

                <% else %> <!-- PROMISE NOT EXPIRED/VALIDATED -->
                  
                  <% if @current_user == promise.user %> <!-- YOUR PROMISE -->
                    <%= erb :'/partials/validate_your_promise_modal' %>

                  <% else %> <!-- NOT YOUR PROMISE -->
                    <% if @current_user.already_bet?(promise.id) %> <!-- Already bet -->
                      <%= erb :'/partials/your_bet' %>
                    <% else %> <!-- Prompt user to bet on promise -->
                      <%= erb :'/partials/quick_bet_modal' %>
                    <% end %>

                  <% end %>

                <% end %> <!-- NOT LOGGED IN -->

              <% else %>
                <p><a href="/">Login</a> to place a bet!</p>
              <% end %>

            </div>
          </div>

        <% end %>
      </div>

    </section>

    <%= erb :'partials/pagination' %>

  </article>

</section>