<div>
  <%= @promise.content %>
  <%= @user_of_the_promise.username %>
</div>
<% if @current_user_bet %>
  <div>
    <%= @current_user_bet.bet_value %>
    <%= @current_user_bet.created_at %>
  </div>
<% else %>  
  <div>
    <form id="new-bet-form" method="post" action="/promises/<%= @promise.id %>/new_bet">
      <input type="text" name="bet_value" placeholder="Enter Bet Value" required autofocus>
      <input type="submit" name="in_favour" value="For">
      <input type="submit" name="not_in_favour" value="Against">
    </form>
  </div>
<% end %>