<section class="page-body">
    
  <article class="container page-article">

    <header class="article-header">
      <%= erb :'partials/flash_message_success' %>
    </header>

    <div class="promise">
      <div class="promise-content">
        <h4><%= @promise.user.first_name.capitalize %> promised to..</h4>
        <div class="details">
          <p><strong><%= @promise.content %></strong></p>
        </div>
        <p class="promise-detail"><%= @promise.hours_until_expired %></p>
        <div class="user-details">
          <p class='promise-kept' data-promise='<%= @promise.user.promises_kept %>'>kept: <%= @promise.user.promises_kept.count %></p>
          <p class='promise-broken' data-promise='<%= @promise.user.promises_broken %>'>broken: <%= @promise.user.promises_broken.count %></p>
        </div>
      </div>
      <div class="user-img">
        <img src="<%= @promise.user.gravatar %>">  
      </div>
    </div>

    <% if @current_user %> <!-- LOGGED IN -->

      <% if @promise.expired? || !@promise.validated.nil? %> <!-- PROMISE EXPIRED -->
        <div class="promise-content-results">
          <%= erb :'/partials/validated_promise_result' %>
        </div>

      <% else %> <!-- PROMISE NOT EXPIRED -->

        <% if @current_user == @promise.user %> <!-- YOUR PROMISE -->

          <div class="form">
            <div class="promise-details">
              <form method="post" action="/promises/<%= @promise.id %>/validate">
                <h2>Did you keep your promise?</h2>
                <br>
                <input class="verify-promise" type="submit" name="yes" value="Promise Kept">
                <input class="verify-promise" type="submit" name="no" value="Promise Not Kept">
              </form>
              <br>
            </div>
          </div>

        <% else %> <!-- NOT YOUR PROMISE -->

          <%= erb :'partials/flash_message_error' %> <!-- successfully placed bet message -->

          <% if !@current_user_bet %> <!-- You haven't placed a bet yet -->

            <div class="form">
              <div class="promise-details">
                <form method="post" action="/promises/<%= @promise.id %>/new_bet">
                  <h2>Will <%= @promise.user.name %> keep their promise?</h2>
                  <br>
                  <input class="place_bet" type="text" name="bet_value" placeholder="Enter Bet Value" required autofocus>
                  <div class="tooltip-item">
                    Check Your Odds!
                    <div class="tooltip">
                      <div id='kept-winnings'>You could win <span></span> points if you vote YES!</div>
                      <div id='broken-winnings'>You could win <span></span> points if you vote NO!</div>
                    </div>
                  </div>
                  <input class="place_bet" type="submit" name="in_favour" value="Yes (<%= @promise.bets_for %>)">
                  <input class="place_bet" type="submit" name="not_in_favour" value="No (<%= @promise.bets_for %>)">
                </form>
                <br>
              </div>
            </div>

          <% else %> <!-- You've already placed a bet -->

            <div class="promise-content">
              <h1>Your bet</h1>
              <h2>Value: <%= @current_user_bet.bet_value %></h2>
              <h2>Potential Winnings: <%= @current_user_bet.winnings %></h2>
              <% if @current_user_bet.in_favour %>
                <p>You think <%= @promise.user.name %> will keep their promise!</p>
              <% else %>
                <p>You think <%= @promise.user.name %> will screw-up!</p>
              <% end %>
            </div>

          <% end %>

        <% end %>

      <% end %>

    <% else %> <!-- NOT LOGGED IN -->

      <!-- <div class="form"> -->
        <div class="promise-details">
          <!-- <form method="get" action="/login"> -->
            <a href='/'><strong>Login</strong> to place a bet.</a>
            <!-- <input type="submit" name="yes" value="Login"> -->
          <!-- </form> -->
          <br><br>
        </div>
      <!-- </div> -->

    <% end %>

    <section class="article-footer">
      <% unless @promise.bets.empty? %>
        <%= erb :'/partials/bets' %>
      <% end %>
    </section>

    <section class="article-footer">
      <%= erb :'/partials/comments' %>
    </section>
    
  </section>

    <!-- render pagination -->

  </article>

</section>