<div class="promise">
  <div class="promise-content">
    <div class="details">
      <p><%= @promise.content %></p>
    </div>
    <p class="promise-detail">Expires in <%= @promise_expires_in %> hours!</p>
  </div>
  <div class="user-img">
    <img src="http://placehold.it/400x400">  
  </div>
</div>

<% if @current_user.id %>
  <% if @current_user.id == @user_of_the_promise.id %>
    <% if @promise.validated.nil? %>
      <div class="form">
        <div class="promise-details">
          <form method="post" action="/promises/<%= @promise.id %>/validate">
            <h2>Did you keep your promise?</h2>
            <br>
            <input class="verify-promise" type="submit" name="yes" value="Promise Kept">
            <input class="verify-promise" type="submit" name="no" value="Promise Not Kept">
          </form>
          <br>
        </div>
      </div>
    <% else %>
      <% if @promise.validated %>
        <div class="promise-details">
          <h2>Yay! You kept your promise.</h2>
        </div>
      <% else %>
        <div class="promise-details">
          <h2>Ohhh! You are a bad person.</h2>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if !@current_user_bet %>
      <div class="form">
        <div class="promise-details">
          <form method="post" action="/promises/<%= @promise.id %>/new_bet">
            <h2>Will <%= @user_of_the_promise.name %> keep their promise?</h2>
            <br>
            <input class="place_bet" type="text" name="bet_value" placeholder="Enter Bet Value" required autofocus>
            <input class="place_bet" type="submit" name="in_favour" value="Yes (<%= @total_users_for_the_promise_to_be_kept %>)">
            <input class="place_bet" type="submit" name="not_in_favour" value="No (<%= @total_users_against_the_promise_to_be_kept %>)">
          </form>
          <br>
        </div>
      </div>
    <% else %>
      <div class="promise-details">
        <h2>You have already bet on this promise.</h2>
        <p>Bet Value: <%= @current_user_bet.bet_value %></p>
        <% if @current_user_bet.in_favour %>
          <p>In Favour</p>
        <% else %>
          <p>Not in Favour</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="form">
    <div class="promise-details">
      <form method="get" action="/login">
        <h2>Login to place a bet.</h2>
        <br>
        <input type="submit" name="yes" value="Login">
      </form>
      <br>
    </div>
  </div>
<% end %>